# Dependencias principales
click==8.1.7
Flask==2.2.5
Flask-SQLAlchemy==3.1.1
Flask-RESTful==0.3.10
Flask-CORS==4.0.0
Flask-JWT-Extended==4.5.3
Flask-Migrate==4.0.7
Flask-MySQLdb==2.0.0
flask-restx==1.3.0
flask-swagger-ui==4.11.1

# Base de datos y ORM
SQLAlchemy==2.0.25
PyMySQL==1.1.0
greenlet==3.0.3

# Serialización
marshmallow==3.20.2
marshmallow-sqlalchemy==1.0.0

# Utilidades
Werkzeug==2.2.3
Jinja2==3.1.3
MarkupSafe==2.1.5
itsdangerous==2.1.2
python-dotenv==1.0.0
APScheduler==3.10.4
pytz==2024.1
python-dateutil==2.9.0.post0

# Cloud
cloudinary==1.37.0

# Testing 
pytest==8.1.1               
pytest-cov==4.1.0            
pytest-flask==1.3.0         
pytest-mock==3.14.0          
pytest-xdist==3.5.0          
requests==2.31.0             
freezegun==1.2.2             